<p id="notice" style="color: green;"><%= notice %></p>

<p>
  <strong style="font-weight: bold;">First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong style="font-weight: bold;">Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong style="font-weight: bold;">Email address:</strong>
  <%= @employee.email_address %>
</p>

<p>
  <strong style="font-weight: bold;">Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong style="font-weight: bold;">Salary:</strong>
  <%= @employee.salary %>
</p>

<p>
  <strong style="font-weight: bold;">Department:</strong>
  <%= @employee.department.name %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee), style: 'color: blue; text-decoration: none; margin-right: 10px;' %> |
<%= link_to 'Back', employees_path, style: 'color: blue; text-decoration: none;' %>
